/* About */
#about {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#about .about-text {
  width: 560px;
}

#about .about-text .about-wrapper {
  display: flex;
  align-items: center;
}

#about .about-text .about-wrapper h2 {
  color: var(--dark-grey);
  font-size: calc(32 / 16 * 1rem);
  font-weight: 600;
  margin-bottom: 10px;
}

#about .about-text .about-wrapper h2 .primary-text {
  font-weight: 500;
}

#about .about-text .about-wrapper .line {
  height: 1px;
  width: 100%;
  max-width: 343px;
  margin-left: 10px;
  background: rgba(216, 216, 216, 0.933);
}

#about .about-text p {
  font-weight: 500;
}

img {
  width: 400px;
}

@media screen and (max-width: 1040px) {
  #about {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #about .about-text {
    width: 560px;
  }

  #about .about-text .about-wrapper .line {
    max-width: 320px;
  }

  #about .about-text p {
    font-weight: 500;
  }

  img {
    width: 300px;
  }
}
