#contact {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: var(--blue);
}

#contact .contact-wrapper {
  max-width: 620px;
  text-align: center;
  margin: auto;
}
#contact .contact-wrapper h3 {
  color: #2c559d;
  font-weight: 600;
  font-size: calc(24 / 16 * 1rem);
}

#contact .contact-wrapper h1 {
  padding-bottom: 10px;
  color: var(--white);
  font-size: calc(45 / 16 * 1rem);
  font-weight: 700;
}

#contact .contact-wrapper p {
  color: #a5c4f8;

  font-weight: 500;
  font-size: calc(22 / 16 * 1rem);

  margin-bottom: 30px;
}

/* BUTTON */

.submit {
  font-weight: 500;
  font-size: calc(19 / 16 * 1rem);
  color: var(--white);
  border: 2px solid var(--white);
  padding: 10px 0;
  display: flex;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  border-radius: 8px;
}

.submit:hover,
.submit:focus {
  outline: none;
  cursor: pointer;
  transform: translate3d(0, 0, -15px);
}

.submit.done {
  max-width: 100px;
}

.submit.active i {
  animation: move 1000ms forwards ease-in-out;
}

.submit i {
  font-size: calc(22 / 16 * 1rem);
  margin-left: 10px;
  transition: all 900ms;
  offset-path: path("M12,12c0,0,186.7,42.3,234.7-177");
}

@keyframes move {
  0% {
    offset-distance: 0%;
    transform: scale(1);
  }

  100% {
    offset-distance: 100%;
    transform: scale(0);
  }
}

footer {
  flex-direction: column;
  text-align: center;
  padding: 15px;
  display: flex;
}

footer a,
footer a:visited {
  color: #a5c4f8;
  font-size: 1rem;
  transition: all 0.3s ease;
}
footer a:hover {
  color: var(--white);
}
footer .social-footer {
  display: none;
  margin-bottom: 10px;
}

footer .social-footer a {
  font-size: calc(22 / 16 * 1rem);
  padding: 0 15px;
}

/* CONTACT */

.contact-active {
  background-color: var(--blue);
}

.contact-active .nav a,
.contact-active .nav a:visited {
  color: var(--white);
}

.contact-active .nav a,
.contact-active .nav a:hover {
  color: var(--white);
}

.contact-active .nav i,
.contact-active .nav i:visited {
  color: var(--white);
}

.contact-svg a svg {
  color: #fff;
}

/* MEDIA QUERY  */

@media screen and (max-width: 1040px) {
  .contact-active {
    background-color: #fff;
  }

  .contact-active .nav a,
  .contact-active .nav a:visited {
    color: var(--light-grey);
  }

  .contact-active .nav a,
  .contact-active .nav a:hover {
    color: var(--dark-grey);
  }

  .contact-active .nav i,
  .contact-active .nav i:visited {
    color: var(--blue);
  }

  .contact-svg a svg {
    color: var(--dark-grey);
  }

  .mobile-contact-active {
    background-color: var(--blue);
  }

  .mobile-contact-active .nav a,
  .mobile-contact-active .nav a:visited {
    color: var(--white);
  }

  .mobile-contact-active .nav a,
  .mobile-contact-active .nav a:hover {
    color: var(--white);
  }

  .mobile-contact-active .nav i,
  .mobile-contact-active .nav i:visited {
    color: var(--white);
  }

  .mobile-contact-svg a svg {
    color: #fff;
  }
}

@media screen and (max-height: 930px) {
  .mobile-contact-active .nav-list {
    background-color: var(--blue);
  }

  .mobile-contact-active .nav .bar {
    background-color: var(--white);
  }
}

@media screen and (max-width: 680px) {
  #contact .contact-wrapper h3 {
    font-size: calc(22 / 16 * 1rem);
  }

  #contact .contact-wrapper h1 {
    font-size: calc(36 / 16 * 1rem);
  }

  #contact .contact-wrapper p {
    width: 450px;
    font-size: calc(18 / 16 * 1rem);
  }

  /* BUTTON */

  .submit {
    font-size: calc(16 / 16 * 1rem);
    max-width: 150px;
  }

  .submit.done {
    max-width: 100px;
  }

  .submit i {
    font-size: calc(20 / 16 * 1rem);
  }
}

@media screen and (max-width: 575px) {

  footer a,
  footer a:visited {
    color: #a5c4f8;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  footer a:hover {
    color: var(--white);
  }
  footer .social-footer {
    display: flex;
    margin-bottom: 10px;
  }

  footer .social-footer a {
    font-size: calc(22 / 16 * 1rem);
    padding: 0 15px;
  }
}


@media screen and (max-width: 575px) {
  #contact .contact-wrapper h3 {
    font-size: calc(20 / 16 * 1rem);
    padding: 0;
  }
  
  #contact .contact-wrapper h1 {
    font-size: calc(33 / 16 * 1rem);
    padding-bottom: 5px;
  }
  
  #contact .contact-wrapper p {
    width: 380px;
    font-size: 1.1rem;
  }

  
  .submit {
    font-size: calc(16 / 16 * 1rem);
    max-width: 150px;
    padding: 6px 20px;
  }
  
  .submit.done {
    max-width: 130px;
  }
  
  .submit i {
    font-size: calc(18 / 16 * 1rem);
  }

}


@media screen and (max-width: 450px) {
  #contact .contact-wrapper h3 {
    font-size: calc(18 / 16 * 1rem);
    padding: 0;
  }
  
  #contact .contact-wrapper h1 {
    font-size: calc(30 / 16 * 1rem);
    padding-bottom: 5px;
  }
  
  #contact .contact-wrapper p {
    width: 300px;
    font-size: 1rem;
  }

  
  .submit {
    font-size: .9rem;
    max-width: 150px;
    padding: 8px 20px;
  }
  
  .submit.done {
    max-width: 80px;

  }
  
  .submit i {
    font-size: 1rem;
  }

}
