:root {
  /* Dark Mode */
  --blue: #5d90ff;
  --coal: #17191d;
  --d-dark-grey: #8892b0;
  --d-light-grey: #d2dfff;

  /* Ligth Mode */
  --white: #fff;
  --l-dark-grey: #52545f;
  --l-light-grey: #a3a1b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: red solid 2px; */
}

body {
  font-size: calc(20 / 16 * 1rem);
  color: var(--l-light-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo */
.logo i {
  font-size: calc(25 / 16 * 1rem);
  color: var(--blue);
}

/* Navbar */
.navbar {
display: none;
  padding: 30px 40px;
  /* display: flex; */
  background: var(--white);
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-menu {
  display: flex;
}

.navbar .nav-menu .nav-item {
  padding: 0 20px;
  font-size: 1rem;
}

.navbar .nav-menu .nav-item a,
.navbar .nav-menu .nav-item a:visited {
  color: var(--l-light-grey);
  transition: all 0.3s ease;
}

.navbar .nav-menu .nav-menu .nav-item a:active {
  color: var(--blue);
}

.navbar .nav-menu .nav-item a:hover {
  color: var(--blue);
}


/* Responsive Navbar */

.responsive-navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--coal);
}