@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: var(--blue);
}

.hero-introduction h3 {
  font-weight: 600;
  color: #a5c4f8;
  font-size: calc(25 / 16 * 1rem);
}

.hero-introduction h1 {
  font-weight: 700;
  color: var(--white);
  font-size: calc(70 / 16 * 1rem);
}
.hero-introduction h2 {
  font-weight: 700;
  color: #2c559d;
  font-size: calc(70 / 16 * 1rem);
  margin-bottom: 20px;
}

.hero-introduction a {
  cursor: pointer;
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  width: 130px;
  padding: 8px 30px;
  background: none;
  border-radius: 5px;
  color: var(--white);
  transition: all 0.3s ease;
  border: 2px solid var(--white);
}

.hero-introduction a:hover {
  background: rgba(255, 255, 255, 0.179);
}

.code {
  width: 430px;
  padding: 30px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: var(--white);
  color: var(--blue);
}

.code p {
  font-size: 0.95rem;
  line-height: 2.2;
}

.thick {
  font-weight: 600;
}

/* Social(Media) */
.social,
.social:visited {
  right: 40px;
  width: 20px;
  z-index: 100;
  bottom: 30px;
  height: 160px;
  display: flex;
  position: fixed;
  flex-direction: column;
}

.social svg {
  margin-top: 10px;
  color: var(--white);
  transition: color  0.3s ease;
  font-size: calc(27 / 16 * 1rem);
}

.social .in svg {
  font-size: calc(25 / 16 * 1rem);
}


.svg-active a svg{
  color: var(--dark-grey);
}

.svg-active a svg:hover{
  color: var(--blue);
}


footer {
  flex-direction: column;
  text-align: center;
  padding: 15px;
  display: flex;
}

footer a, footer a:visited{
  color: var(--light-grey);
 font-size: 1rem;
 transition: all .3s ease;
}
footer a:hover{
color: var(--blue);
}
 footer .social-footer {
   display: none;
   margin-bottom: 10px;
 }

footer .social-footer a{
  font-size: calc(22 / 16 * 1rem);
padding: 0 15px  ;
}