:root {
  --blue: #4181ed;
  --white: #fff;
  --dark-grey: #3c3e46;
  --light-grey: #9391a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: red solid 2px; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: calc(18 / 16 * 1rem);
  color: var(--light-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.primary-text {
  color: var(--blue);
}

/* Nav */

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.nav {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}

.nav i {
  font-size: calc(26 / 16 * 1rem);
  color: var(--white);
}

.nav a {
  font-weight: 500;
  color: var(--white);
  font-size: calc(18 / 16 * 1rem);
  transition: all 0.3s ease;
}

.nav a:hover {
  color: rgba(255, 255, 255, 0.707);
}

.nav-list {
  display: flex;
}

.nav-list .nav-link {
  padding: 20px;
}

/*Apply styles after scroll*/
.six-mobile-width {
  background-color: #fff;
}

.six-mobile-width .nav a,
.six-mobile-width .nav a:visited {
  color: var(--light-grey);
}

.six-mobile-width .nav .bar {
  background-color: var(--blue);
}

.six-mobile-width .nav a,
.six-mobile-width .nav a:hover {
  color: #6c697b;
}

.six-mobile-width .nav i,
.six-mobile-width .nav i:visited {
  color: var(--blue);
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

.scrolling-active {
  background-color: #fff;
}

/* HAMBURGER MENU */
.hamburger-menu {
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

/* MOBILE */

@media screen and (max-width: 930px) {
  .scrolling-active .nav-list {
    background-color: #fff;
  }

  .nav-list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 20px 1rem rgba(0, 0, 0, 0.03);
  }

  .nav-list.active {
    left: 0;
  }

  .nav-list li {
    margin: 2.5rem 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 414px) {
  .six-mobile-width {
    background-color: #fff;
  }

  .six-mobile-width .nav a,
  .six-mobile-width .nav a:visited {
    color: var(--blue);
  }

  .six-mobile-width .nav-list {
    background-color: var(--white);
  }

  .six-mobile-width .nav .bar {
    background-color: var(--blue);
  }

  .six-mobile-width .nav .bar {
    background-color: var(--blue);
  }

  .six-mobile-width .nav a,
  .six-mobile-width .nav a:hover {
    color: #6c697b;
  }

  .six-mobile-width .nav i,
  .six-mobile-width .nav i:visited {
    color: var(--blue);
  }

  .six-mobile-width .nav-link::after {
    background-color: #313131;
  }

  .six-mobile-width {
    background-color: #fff;
  }
}
