/* General Styling */

:root {
  --white-color: #fff;
  --off-white-color: #f2f7ff;
  --dark-color:#52545f;
  --paragraph-color: #9da1b4;
  --royal-blue-color: #0600fc;
  --primary-font:  'Poppins', sans-serif;;
}

/* Navigationbar */
.nav-link:visited {
  color: var(--royal-blue-color);
}


.nav-link:hover, .nav-link:active{
  color: #0400fca9;
}


/* Introduction */

.introduction__text button:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

.introduction__text button:active, .introduction__text button:focus {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: translateY(3px);
  }
  
/* Social */

.social i:hover,
.social i:active {
  color: var(--royal-blue-color);
  transform: translateX(-5px);
}

/* Scroll Button */

.scroll-btn i {
  cursor: pointer;

  color: var(--royal-blue-color);
  font-size: calc(30 / 16 * 1rem);
}

/* Projects */

.project__wrapper a:hover {
  color: var(--royal-blue-color);
}


/* Contact Form */

.contact__info--button a:hover {
  font-weight: 500;
color: var(--royal-blue-color);
border: 2px solid var(--white-color);
border-radius: 30px;
  padding: 10px 20px;
  background:var(--white-color);
}
